.pagination {
  width: auto;
  height: 80px;
  font-size:0px;
  text-align:center;
}
.pagination span.current {
}
.pagination span {
  display:inline-block;
  min-width: 64px;
  height: 28px;
  font-size:14px;
  margin-left: 10px;
  line-height: 28px;
  border: 1px solid #e5e5e5;
  cursor:pointer;
}
.pagination span:first-child {
  margin-left:0;
}
.pagination span.total {
  border:none;
}